RoomService/NSchemas/CreateRoom.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOM_CREATE_RESULT">
    <xs:complexType>
      <xs:attribute name="index" type="xs:unsignedInt" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="comment" type="xs:string" use="required" />
      <xs:attribute name="location" type="xs:string" use="required" />
      <xs:attribute name="max_user" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>