RoomService/NSchemas/JoinRoomDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JOIN_ROOM_DETAIL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MEMBER_LIST">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="MEMBER">
                <xs:complexType>
                  <xs:attribute name="loginid" type="xs:string" use="required" />
                  <xs:attribute name="user_name" type="xs:string" use="required" />
                  <xs:attribute name="gender" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="age" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:unsignedByte" use="required" />
            <xs:attribute name="joinable" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="index" type="xs:unsignedInt" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="comment" type="xs:string" use="required" />
      <xs:attribute name="duration" type="xs:string" use="required" />
      <xs:attribute name="category" type="xs:int" use="required" />
      <xs:attribute name="location_main" type="xs:int" use="required" />
      <xs:attribute name="location_sub" type="xs:int" use="required" />
      <xs:attribute name="max_user" type="xs:unsignedByte" use="required" />
      <xs:attribute name="current_user" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>