RoomService/NSchemas/Notice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NOTICE_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="NOTICE">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="index" type="xs:int" use="required" />
                <xs:attribute name="title" type="xs:string" use="required" />
                <xs:attribute name="date_time" type="xs:dateTime" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="room_index" type="xs:unsignedInt" use="required" />
      <xs:attribute name="group" type="xs:int" use="required" />
      <xs:attribute name="count" type="xs:int" use="required" />
      <xs:attribute name="crud" type="xs:string" use="required" />
      <xs:attribute name="result_code" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>