RoomService/NSchemas/PushNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PUSH_NOTIFICATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="INFO">
          <xs:complexType>
            <xs:attribute name="DeviceId" type="xs:string" use="required" />
            <xs:attribute name="owner" type="xs:unsignedByte" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="sound" type="xs:string" use="required" />
            <xs:attribute name="badge" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="room" type="xs:int" use="required" />
      <xs:attribute name="r_name" type="xs:string" use="required" />
      <xs:attribute name="msg" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>