RoomService/NSchemas/RoomDetailInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MEMBER_DETAIL_INFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MEMBER">
          <xs:complexType>
            <xs:attribute name="loginid" type="xs:string" use="required" />
            <xs:attribute name="user_name" type="xs:string" use="required" />
            <xs:attribute name="gender" type="xs:unsignedByte" use="required" />
            <xs:attribute name="age" type="xs:int" use="required" />
            <xs:attribute name="panalty" type="xs:unsignedShort" use="required" />
            <xs:attribute name="rank_no" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="index" type="xs:int" use="required" />
      <xs:attribute name="deposit_total" type="xs:int" use="required" />
      <xs:attribute name="penalty_total" type="xs:int" use="required" />
      <xs:attribute name="count" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>