RoomService/NSchemas/RoomMainInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOM_MAIN_INFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NOTICE_ALERT_LIST">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="NOTICE_ALERT">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="unread_count" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="reason_sort" type="xs:int" use="required" />
      <xs:attribute name="room_index" type="xs:int" use="required" />
      <xs:attribute name="chat_last_index" type="xs:int" use="required" />
      <xs:attribute name="chat_unread_count" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>