RoomService/NSchemas/RoomResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOM_RESULT">
    <xs:complexType>
      <xs:attribute name="crud" type="xs:string" use="required" />
      <xs:attribute name="room_index" type="xs:unsignedInt" use="required" />
      <xs:attribute name="reason_sort" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>