RoomService/NSchemas/RoomMainInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ROOM_MAIN_INFO">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="reason_sort" type="xs:int" use="required" />
          <xs:attribute name="room_index" type="xs:int" use="required" />
          <xs:attribute name="chat_last_index" type="xs:int" use="required" />
          <xs:attribute name="chat_unread_count" type="xs:int" use="required" />
          <xs:attribute name="notice_a_cnt" type="xs:int" use="required" />
          <xs:attribute name="notice_b_cnt" type="xs:int" use="required" />
          <xs:attribute name="notice_c_cnt" type="xs:int" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>