RoomService/NSchemas/UpdateProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UPDATE_PROFILE_INFO">
    <xs:complexType>
      <xs:attribute name="result_code" type="xs:byte" use="required" />
      <xs:attribute name="user_no" type="xs:string" use="required" />
      <xs:attribute name="login_id" type="xs:string" use="required" />
      <xs:attribute name="img_url" type="xs:string" use="required" />
      <xs:attribute name="comment" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>