RoomService/NSchemas/UpdateDeviceInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UPDATE_DEVICE_INFO">
    <xs:complexType>
      <xs:attribute name="result_code" type="xs:int" use="required" />
      <xs:attribute name="user_no" type="xs:string" use="required" />
      <xs:attribute name="login_id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>