STMate/NSchemas/AuthUserResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AUTH_RESULT">
    <xs:complexType>
      <xs:attribute name="loginid" type="xs:string" use="required" />
      <xs:attribute name="result" type="xs:boolean" use="required" />
      <xs:attribute name="date_time" type="xs:dateTime" use="optional" />
      <xs:attribute name="reason_sort" type="xs:string" use="optional" />
      <xs:attribute name="user_no" type="xs:string" use="required" />
      <xs:attribute name="age" type="xs:unsignedByte" use="required" />
      <xs:attribute name="image_url" type="xs:string" use="required" />
      <xs:attribute name="user_name" type="xs:string" use="required" />
      <xs:attribute name="comment" type="xs:string" use="required" />
      <xs:attribute name="phone" type="xs:string" use="required" />
      <xs:attribute name="gender" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>