STMate/NSchemas/CreateUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CREATE_USER">
    <xs:complexType>
      <xs:attribute name="login_id" type="xs:string" use="required" />
      <xs:attribute name="result_code" type="xs:int" use="required" />
      <xs:attribute name="date_time" type="xs:dateTime" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>